---
import '@styles/global.css';
---

<div class='my-4 flex gap-2' data-hr-break>
  <span class='dark:bg-malachite inline-block h-1 w-24 rounded-full bg-cyan-700'
  ></span>
  <span class='dark:bg-malachite inline-block h-1 w-12 rounded-full bg-cyan-700'
  ></span>
  <span class='dark:bg-malachite inline-block h-1 w-8 rounded-full bg-cyan-700'
  ></span>
  <span class='dark:bg-malachite inline-block h-1 w-4 rounded-full bg-cyan-700'
  ></span>
</div>
