---

---

<div
  data-prose
  class='prose dark:prose-invert prose-headings:tracking-wider prose-headings:text-gray-800 prose-headings:dark:text-gray-100 prose-h1:text-3xl prose-h1:lg:text-5xl prose-h1:font-bold prose-h1:leading-none prose-h1:py-8 prose-h1:my-1 prose-h1:border-b prose-h1:border-gray-700 prose-h1:dark:border-gray-30 prose-h2:text-2xl prose-h2:lg:text-4xl prose-h2:font-medium prose-h3:text-xl prose-h3:lg:text-2xl prose-h4:text-lg prose-h4:lg:text-xl not-only:prose-p:text-justify prose-img:rounded-xl prose-p:text-gray-800 prose-p:dark:text-gray-300 prose-p:leading-7 prose-p:lg:text-lg prose-p:py-2 prose-p:my-1 prose-ul:text-gray-800 prose-ul:dark:text-gray-300 prose-ul:leading-7 prose-ul:lg:text-lg prose-ul:py-2 prose-ul:my-1 prose-li:marker:text-teal-500 prose-a:break-all prose-a:text-malachite-800 prose-a:hover:text-cyan-700 prose-a:dark:text-malachite-600 prose-a:dark:hover:text-malachite-300 prose-a:transition-all prose-a:duration-200 prose-a:underline mx-auto w-full max-w-5xl'
>
  <slot />
</div>
