---
import Toc from '@components/elements/Toc.astro';
import Layout from '@layouts/General.astro';

import '@styles/hackmd-alert-alt.css';

const { frontmatter, toc } = Astro.props;
---

<Layout frontmatter={frontmatter}>
  <div class='relative mx-auto w-full bg-gray-400/55 dark:bg-gray-800'>
    <Toc chapters={toc} />
    <article
      class='mx-auto space-y-12 bg-gray-200/80 px-6 py-24 text-gray-900 lg:px-12 xl:mr-10 xl:w-4/5 2xl:mr-24 dark:bg-gray-700/90 dark:text-gray-200'
    >
      <slot />
    </article>
  </div>
</Layout>
